@charset "GBK";
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  border: none; }

h1 {
  font-weight: normal; }

body {
  height: 100%;
  background: #9dd8ca;
  font-family: "Microsoft Yahei"; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

#header, #he-login, #he-nav {
  width: 100%; }

.wd1002 {
  height: 100%;
  margin: 0 auto;
  position: relative; }

.he-wl {
  font-size: 12px;
  color: white; }

.he-wl, .he-lo {
  float: right; }

#header {
  height: 107px; }

#he-login {
  height: 25px;
  background: url("../images/h_bg.png"); }

.he-wl {
  margin-right: 9px;
  line-height: 25px; }

.he-lo {
  color: #bbbaba;
  font-size: 12px;
  line-height: 25px; }
  .he-lo .he-where {
    color: #bbbaba;
    margin-left: 21px;
    margin-right: 31px; }

.he-lo a {
  color: #fff; }

#he-nav {
  position: relative;
  height: 82px;
  background: url("../images/nav_bg.png");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

#he-nav img {
  margin: 5px 0 0 9px;
  float: left; }

#main-nav li, .back-left h1 {
  font-size: 14px; }

.back-left ul li:after {
  content: " ";
  display: block;
  clear: both; }

#main-nav li a:hover, #main-nav li a.now-page {
  background: url("../images/back-nav-bg.png") repeat-x;
  color: #000;
  border: 1px solid #dbdbdb; }

#main-nav {
  position: absolute;
  left: 259px;
  top: 55px; }
  #main-nav li {
    float: left;
    text-align: center;
    line-height: 29px;
    font-family: "Adobe ���� Std"; }
    #main-nav li a {
      color: #423d3d;
      padding: 7px 13px 6px 13px;
      -webkit-transition: background 0.5s ease 0s;
      -moz-transition: background 0.5s ease 0s;
      -ms-transition: background 0.5s ease 0s;
      transition: background 0.5s ease 0s; }

#backStage {
  height: 88.7%;
  text-align: center; }
  #backStage h7 {
    line-height: 200px;
    font-size: 24px;
    color: #ffffff; }

.back-left {
  float: left;
  width: 10%;
  height: 100%;
  background: #fbf6f6; }
  .back-left h1 {
    width: 100%;
    height: 30px;
    margin-top: 12px;
    border-bottom: 2px solid #007e94;
    text-align: center; }
    .back-left h1 img {
      float: left;
      position: relative;
      left: 14%; }
    .back-left h1 span {
      line-height: 30px; }
  .back-left ul {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #6e6d6d;
    overflow: hidden;
    text-align: left; }
    .back-left ul li {
      line-height: 28px;
      border-bottom: 1px solid #e4e2e2;
      background: url("../images/list-style-normal.png") no-repeat 20% 50%;
      padding-left: 30%; }
      .back-left ul li:hover {
        cursor: pointer; }
      .back-left ul li ul {
        display: none;
        height: 0;
        margin: 0;
        margin-bottom: 5px;
        overflow: hidden; }
        .back-left ul li ul li {
          line-height: 20px;
          border-bottom: 0; }
    .back-left ul li.back-nav-list-1, .back-left ul li.back-nav-list-2, .back-left ul li.back-nav-list-2 li.nav-list-c {
      color: #006a94; }
    .back-left ul li.back-nav-list-1 {
      background: url("../images/list-style-check.png") no-repeat 20% 50%; }
    .back-left ul li.back-nav-list-2 ul {
      display: block;
      height: 100%; }
      .back-left ul li.back-nav-list-2 ul li {
        padding-left: 0;
        background: none; }
    .back-left ul li.back-nav-list-2 {
      background: url("../images/has-second.png") no-repeat 20% 10px; }

.back-right input[type="button"], .alert input[type="button"] {
  padding: 3px 27px 2px 27px;
  border: 1px solid #e2f7f2;
  border-radius: 3px;
  background: url("../images/button_bg.png") repeat-x;
  color: #103d2b;
  cursor: pointer; }

.back-right {
  float: right;
  width: 89%;
  min-height: 90%;
  background: #fff; }
  .back-right h1 {
    width: 99%;
    margin: 10px auto;
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #393837;
    background: #9dd8ca; }
    .back-right h1 span {
      display: block; }
  .back-right form fieldset {
    margin: 0 auto;
    line-height: 29px;
    background: #e6e6e7;
    border: none; }
  .back-right form label {
    font-size: 12px;
    color: #010202;
    margin-left: 5px; }
  .back-right form input[type="text"] {
    width: 64px;
    height: 18px;
    border: 1px solid #c4c2c2;
    background: #fff; }
  .back-right .userMessage {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse; }
    .back-right .userMessage td {
      word-break: break-all;
      width: 90px;
      color: #6d6d6d;
      text-align: center;
      border: 1px solid #dadada; }
      .back-right .userMessage td a {
        text-decoration: underline;
        color: blue; }
      .back-right .userMessage td input[type="text"] {
        width: 100px;
        border: none; }
  .back-right p {
    width: 800px;
    margin: 20px auto;
    font-size: 12px;
    color: #7f7e7e; }
    .back-right p span.now_page, .back-right p span:hover {
      padding: 3px;
      background: #a7e0d2; }
    .back-right p span:hover {
      cursor: pointer; }

.right-message {
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  text-align: center; }
  .right-message textarea {
    width: 200px;
    height: 100px; }

#save-operation {
  float: right;
  margin-top: 10px;
  margin-right: 20px; }

#copyright {
  float: right;
  position: relative;
  width: 89%;
  min-height: 10%;
  background: #f2f2f3;
  text-align: center;
  color: #a5a4a4;
  overflow: hidden; }
  #copyright p {
    position: absolute;
    width: 694px;
    height: 37px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.alert {
  position: fixed;
  width: 458px;
  height: 294px;
  margin: auto;
  background: #cfece5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
  .alert .content {
    width: 435px;
    height: 271px;
    margin: 10px auto;
    border: 1px solid #aab9b1;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.8); }
    .alert .content h2 {
      margin: 10px;
      font-weight: normal;
      font-size: 16px; }
      .alert .content h2 span {
        display: inline-block;
        padding: 5px;
        background: #bfede2; }
  .alert .message {
    width: 394px;
    height: 178px;
    margin: 0 auto;
    background: #eae9e8; }
    .alert .message p {
      margin: 0;
      line-height: 25px;
      padding-left: 5px;
      font-size: 14px;
      color: #828180; }
  .alert form {
    text-align: center; }

#pass-first {
  display: none; }

#pass-second {
  display: none; }
  #pass-second h2 {
    color: #626464;
    text-align: center; }
  #pass-second textarea {
    display: block;
    width: 90%;
    height: 123px;
    margin: 0 auto;
    color: #828180;
    padding-left: 5px;
    background: #eae9e8;
    border: none; }

#footer {
  text-align: center;
  padding: 40px 0;
  background: url("../images/h_bg.png");
  color: white; }

#login {
  width: 100%;
  height: 751px;
  background: #f9f9f9; }

.center_wd1002 {
  width: 1002px;
  padding-top: 94px;
  margin: 0 auto; }
  .center_wd1002 .login_text {
    float: left;
    width: 385px;
    color: #747474; }
    .center_wd1002 .login_text h1 {
      color: #7d7d7d; }
  .center_wd1002 .login {
    float: right;
    width: 433px;
    height: 290px;
    border: 1px solid #c9c9c9; }
    .center_wd1002 .login fieldset {
      border: none; }
      .center_wd1002 .login fieldset h1 {
        border-bottom: 1px solid #c9c9c9;
        padding: 10px;
        font-size: 20px;
        text-align: center; }
      .center_wd1002 .login fieldset .login_box {
        width: 296px;
        margin: 28px auto; }
        .center_wd1002 .login fieldset .login_box input[type="text"] {
          width: 274px;
          height: 31px;
          border: 1px solid #c9c9c9;
          margin-top: 22px;
          padding-left: 24px;
          overflow: hidden;
          background: url("../images/user_logo.png") no-repeat 5px center; }
        .center_wd1002 .login fieldset .login_box input#user_account {
          background: url("../images/user_logo.png") no-repeat 5px center; }
        .center_wd1002 .login fieldset .login_box input#user_password {
          background: url("../images/user_password.png") no-repeat 5px center; }
        .center_wd1002 .login fieldset .login_box input[type="text"]:focus {
          outline: none; }
        .center_wd1002 .login fieldset .login_box input[type="submit"] {
          width: 294px;
          margin: 20px auto;
          border: 2px solid #2d9194;
          background: #9dd8ca;
          font-size: 17px;
          padding: 5px;
          color: white;
          border-radius: 5px;
          cursor: pointer; }

@media screen and (min-width: 1800px) {
  .back-right {
    font-size: 20px; }
    .back-right h1 {
      font-size: 20px; }
    .back-right form label {
      font-size: 20px; }
    .back-right p {
      font-size: 20px; } }
