*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  list-style:none;
}
img{
  border: none;
}
h1{
  font-weight: normal;
}
body{
  height: 100%;
  background: #9dd8ca;
  font-family: "Microsoft Yahei";
}
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}
.clearfix{
  zoom:1;
}
//sass
%w100{
  width: 100%;
}
%w1002center{
  height: 100%;
  margin: 0 auto;
  position: relative;
}
%f12_white{
  font-size: 12px;
  color: white;
}
%fr{
  float: right;
}
%fl{
  float: left;
}
%font{
  font-family: "Microsoft Yahei";
}
@mixin font ($size: 12px,$family: "Microsoft Yahei",$weight:normal){
  font:{
    size: $size;
    family: $family;
    weight: $weight;
  }
}
@mixin line_height ($height) {
  line-height: $height;
}
@mixin transition ($style,$start,$ani,$end) {
  -webkit-transition: $style $start $ani $end;
  -moz-transition: $style $start $ani $end;
  -ms-transition: $style $start $ani $end;
  transition: $style $start $ani $end;
}
@mixin radius($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}
//sass
#header{
  @extend %w100;
}
.wd1002{
  @extend %w1002center;
}
#he-login{
  @extend %w100;
  height: 25px;
  background: url("../images/h_bg.png");
}
.he-wl{
  margin-right: 9px;
  @extend %fr;
  @extend %f12_white;
  @include  line_height(25px);
}
.he-lo{
  @extend %fr;
  color: #bbbaba;
  font-size: 12px;
  line-height: 25px;
  .he-where{
    color: #bbbaba;
    margin-left: 21px;
    margin-right: 31px;
  }
}
.he-lo a{
  color: #fff;
}
#he-nav{
  position: relative;
  @extend %w100;
  height: 82px;
  background: url("../images/nav_bg.png");
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#he-nav img{
  margin: 5px 0 0 9px;
  float: left; //IE7 hack
}
%f14{
  font-size: 14px;
}
%clearafter{
  &:after{
    content: " ";
    display: block;
    clear: both;
  }
}
%maiNavHover{
  background: url("../images/back-nav-bg.png") repeat-x;
  color: #000;
  border: 1px solid #dbdbdb;
}
#main-nav{
  position: absolute;
  left: 209px + 50px;
  top: 55px;
  li {
    float: left;
    text-align: center;
    @extend %f14;
    line-height: 29px;
    font-family: "Adobe ºÚÌå Std";
    a{
      color: #423d3d;
      padding: 7px 13px 6px 13px;
      @include transition(background,0.5s,ease,0s);
      &:hover{
        @extend %maiNavHover;
      }

    }
    a.now-page{
      @extend %maiNavHover;
    }
  }
}
#backStage{
  height: 88.7%;
  text-align: center;
  h7{
    line-height: 200px;
    font-size: 24px;
    color: #ffffff;
  }
}
.back-left{
  float: left;
  width: 10%;
  height: 100%;
  background: #fbf6f6;
  h1{
    width: 100%;
    height: 30px;
    margin-top: 12px;
    border-bottom: 2px solid #007e94;
    text-align: center;
    @extend %f14;
    img{
      float: left;
      position: relative;
      left: 26px;
    }
    span{
      line-height: 30px;
    }
  }
  ul{
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #6e6d6d;
    overflow: hidden;
    text-align: left;
    li{
      line-height: 28px;
      border-bottom: 1px solid #e4e2e2;
      background: url("../images/list-style-normal.png") no-repeat 20% 50%;
      padding-left: 30%;
      &:hover{
        cursor: pointer;
      }
      ul{
        display: none;
        height: 0;
        margin: 0;
        margin-bottom: 5px;
        overflow: hidden;
        li{
          line-height: 20px;
          border-bottom: 0;
        }
      }
      @extend %clearafter;
    }
    %licolor{
      color: #006a94;
    }
    li.back-nav-list-1{
      @extend %licolor;
    }
    li.back-nav-list-1{
      background: url("../images/list-style-check.png") no-repeat 20% 50%;
    }
    li.back-nav-list-2{
      @extend %licolor;
      ul{
        display: block;
        height: 100%;
        li{
          padding-left: 0;
          background: none;
        }
      }
      li.nav-list-c {
        @extend %licolor;
      }
    }
    li.back-nav-list-2{
      @extend %licolor;
      background: url("../images/has-second.png") no-repeat 20% 10px;
    }
  }
}
%styleButton{
  padding: 3px 27px 2px 27px;
  border: 1px solid #e2f7f2;
  border-radius: 3px;
  background: url("../images/button_bg.png") repeat-x;
  color: #103d2b;
  cursor: pointer;
}
.back-right{
  float: right;
  width: 89%;
  min-height: 90%;
  background: #fff;
  h1{
    width: 99%;
    margin: 10px auto;
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #393837;
    background: #9dd8ca;
    span{
      display: block;
    }
  }
  input[type="button"]{
    @extend %styleButton;
  }
  form{
    fieldset{
      margin: 0 auto;
      line-height: 29px;
      background: #e6e6e7;
      border: none;
    }
    label{
      font-size: 12px;
      color: #010202;
      margin-left: 5px;
    }
    input[type="text"]{
      width: 64px;
      height: 18px;
      border: 1px solid #c4c2c2;
      background: #fff;
    }
  }
  .userMessage{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    td{
      word-break: break-all;
      width: 90px;
      color: #6d6d6d;
      text-align: center;
      border: 1px solid #dadada;
      a{
        text-decoration: underline;
        font-size: 12px;
        color: blue;
      }
      input[type="text"]{
        width: 100px;
        border: none;
      }
    }
  }
  p{
    width: 800px;
    margin: 20px auto;
    font-size: 12px;
    color: #7f7e7e;
    %nowpage{
      padding: 3px;
      background: #a7e0d2;
    }
    span.now_page{
      @extend %nowpage;
    }
    span:hover{
      @extend %nowpage;
      cursor: pointer;
    }
  }
}
.right-message{
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  text-align: center;
  textarea{
    width: 200px;
    height: 100px;
  }
}
#save-operation{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
#copyright{
  float: right;
  position: relative;
  width: 89%;
  min-height: 10%;
  background: #f2f2f3;
  text-align: center;
  color: #a5a4a4;
  overflow: hidden;
  p{
    position: absolute;
    width: 694px;
    height: 37px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.alert{
  position: fixed;
  width: 458px;
  height: 294px;
  margin: auto;
  background: #cfece5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .content{
    width: 435px;
    height: 271px;
    margin: 10px auto;
    border: 1px solid #aab9b1;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.8);
    h2{
      margin: 10px;
      font-weight: normal;
      font-size: 16px;
      span{
        display: inline-block;
        padding: 5px;
        background: #bfede2;
      }
    }
  }
  .message{
    width: 394px;
    height: 178px;
    margin: 0 auto;
    background: #eae9e8;
    p{
      margin: 0;
      line-height: 25px;
      padding-left: 5px;
      font-size: 14px;
      color: #828180;
    }
  }
  input[type="button"]{
    @extend %styleButton;
  }
  form{
    text-align: center;
  }
}
#pass-first{
  display: none;
}
#pass-second{
  display: none;
  h2{
    color: #626464;
    text-align: center;
  }
  textarea{
    display: block;
    width: 90%;
    height: 123px;
    margin: 0 auto;
    color: #828180;
    padding-left: 5px;
    background: #eae9e8;
    border: none;
  }
}
@media screen and (min-width: 1800px) {
  .back-right{
    h1{
      font-size: 20px;
    }
    form label {
      font-size: 20px;
    }
    font-size: 20px;
    p{
      font-size: 20px;
    }
  }
}

