* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  border: none; }

body {
  background: #f2f2f2;
  font-family: "Microsoft Yahei"; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

#header, #he-login, #he-nav, #footer {
  width: 100%; }

.wd1002 {
  width: 1002px;
  margin: 0 auto; }

.he-wl, .he-lo a, #fo-nav > li, #fo-nav > li > ul > li > a, #fo-contact p, #copyright {
  font-size: 12px;
  color: white; }

.he-wl, .he-lo, #he-nav ul, #fo-contact, #fo-contact p {
  float: right; }

#he-nav ul li, #fo-nav, #fo-nav > li, #fo-nav > li > img, #fo-contact img {
  float: left; }

#header {
  overflow: hidden; }

.wd989 {
  width: 989px;
  margin: 0 auto; }

#he-login {
  height: 25px;
  background: url("../images/h_bg.png"); }

.he-wl {
  margin-right: 9px;
  line-height: 25px; }
.he-lo{
  height: 24px;
  line-height: 24px;
}
.he-lo a {
  margin-left: 10px; }

#he-nav {
  height: 82px;
  overflow: hidden;
  background: url("../images/nav_bg.png"); }

#he-nav img {
  margin: 5px 0 0 9px;
  float: left; }

#he-nav ul li {
  margin-left: 40px;
  border-top-style: solid;
  border-top-width: 0;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 64px;
  -webkit-transition: border-top-width 0.5s ease 0s;
  -moz-transition: border-top-width 0.5s ease 0s;
  -ms-transition: border-top-width 0.5s ease 0s;
  transition: border-top-width 0.5s ease 0s; }

#he-nav ul {
  margin-top: 16px;
  overflow: hidden; }
  #he-nav ul li.where {
    border-top-width: 4px; }

#he-nav ul li:hover {
  border-top-width: 4px; }

#he-nav ul li a {
  color: #000000; }
#he-nav ul li{
  border-color: #226e72;
}
#he-wb{
  float: right;
  margin-left: 10px;
}
/*.origin {
  border-color: #eea758; }

.yellow {
  border-color: #f4e690; }

.green {
  border-color: #a8f48b; }

.deepGreen {
  border-color: #9dd8ca; }

.pink {
  border-color: #f9bdea; }

.violet {
  border-color: #ddc4f7; }*/

#he-nav ul li.active {
  border-top-width: 4px; }

#footer {
  height: 160px;
  background: url("../images/h_bg.png"); }

#fo-nav {
  margin-top: 37px; }

#fo-nav > li {
  height: 110px;
  margin-right: 21px;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

#fo-nav > li > img {
  margin-right: 9px; }

#fo-nav > li > ul {
  margin-left: 8px;
  margin-top: 19px; }

#fo-nav > li > ul > li {
  line-height: 12px;
  padding-bottom: 10px;
  border-left: 2px solid white; }

#fo-nav > li > ul > li:last-child {
  padding-bottom: 0; }

#fo-nav > li > ul > li > a {
  padding-left: 12px;
  vertical-align: top; }

#fo-contact {
  width: 300px;
  margin-top: 37px; }
  #fo-contact p {
    position: relative;
    top: -10px;
    left: -18px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: normal; }
    #fo-contact p span {
      display: block;
      margin-left: -5px;
      font-size: 36px;
      font-family: "Microsoft Yahei";
      font-weight: normal; }
  #fo-contact .con-center {
    width: 290px;
    margin: 0 auto; }
    #fo-contact .con-center img {
      margin-top: 11px;
      margin-left: 5px; }

#copyright {
  clear: both;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

.w20 {
  width: 20px; }

.w30 {
  width: 30px; }
.rankAAA,
.rankAA,
.rankA,
.rankB,
.rankC,
.rankD {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  /*color: #fff;*/
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;  }

.rankAAA {
  border: 2px solid #deb839;
  color: #deb839;
  font-size: 12px !important;}

.rankAA {
  border: 2px solid #c0c0c1;
  color:#c0c0c1; }

.rankA {
  border: 2px solid #1bb8e2;
  color: #1bb8e2; }

.rankB {
  border: 2px solid #7bde1a;
  color: #7bde1a }
.rankC {
  border: 2px solid #e3e11c;
  color: #e3e11c;}
.rankD {
  border: 2px solid #e52012;
  color: #e52012;}
.footer-sec {
  float: left;
  padding: 10px 0;
}
.footer-sec p{
	color: gray;
	font-size:12px;
}
.footer-sec.last{
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid gray;
}
.footer-sec li{
  float: left;
  min-width: 85px;
  height: 24px;
  line-height: 24px;
}
.footer-sec li a{
  font: 14px/1.5 "Microsoft Yahei";
  color: gray;
}
.footer-sec li a:hover{
  color: #9dd8ca;
}
.f-img{
  display: block;
  margin-right: 20px;
  height: 30px;
  font-size: 0;
  line-height: 0;
  background: url("../images/footer-icons.png") no-repeat;
}
.f-img a{

}
#f-wb{
  width: 99px;
  background-position: 0 0;
}
#f-wb:hover{
  background-position: 0 -30px;
}
#f-tx{
  width: 112px;
  background-position: -190px 0;
}
#f-tx:hover{
  background-position: -190px -30px;
}
#f-wx{
  width: 91px;
  background-position: -99px 0;
}
#f-wx:hover{
  background-position: -99px -30px;
}
.footer-contact{
  float: right;
  width: 200px;
  padding: 10px 0;
}
.footer-contact p{
  color: gray;
  margin-top: 4px;
  text-align: right;
}
#f-copyright{
  width: 700px;
  margin: 0 auto;
  color: gray;
}
.f-text{
  color: gray;
}

#page{
  float: right;
  border: 0;
  line-height: 20px;
}
#page li{
  float: left;
  padding: 10px;
}
#page li a{
  padding: 2px;
  font-size: 12px;
  color: #37b0b3;
}
#page a.active{
  border: 1px solid #37b0b3;
}
#page li a:hover{
  color: #fff;
  background-color: #37b0b3;
}
.page-prev,
.page-next{
  border: 1px solid #37b0b3;
}

.breadcrumb {
  margin: 40px 0; }
  .breadcrumb li {
    display: inline-block; }
  .breadcrumb li:last-child {
    color: #454545; }

.breadcrumb-item a {
  color: #848383;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

.breadcrumb-item.active a {
  color: #454545; }

#mask{
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  -o-pacity:.7;
  -moz-opacity: .7;
  opacity: .7;
  filter:Alpha(opacity=70);
  position: fixed;
  z-index: 5000;
}
#two-dim-code{
  padding: 20px;
  background: #fff;
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: none;
  z-index: 5001;
}
#two-dim-code p{
  text-align: center;
}