#container .con-cuskind {
  width: 312px;
  height: 337px;
  margin-right: 20px; }

#container .cuskind p {
  width: 29px;
  margin: 0 auto;
  padding-top: 29px;
  color: white;
  line-height: 29px; }

#container .con-cuskind, #container .cuskind {
  float: left; }

#container .aud-nav, #container #aud-detail .adu-d-nav, #container #aud-detail ul, #container #aud-detail ul.adu-img-bar li, #container #aud-detail p {
  font-weight: normal;
  font-family: "Microsoft Yahei"; }

#container .aud-common {
  width: 811px;
  height: 174px;
  margin: 0 auto; }
  #container .aud-common .aud-warning {
    width: 665px;
    margin: 0 auto; }
    #container .aud-common .aud-warning div.adu-step {
      position: relative;
      float: left;
      width: 79px;
      height: 104px;
      background: url("../images/aud-com-hover.png") no-repeat;
      font-size: 16px;
      font-weight: normal;
      color: white;
      font-weight: bold;
      text-align: center; }
      #container .aud-common .aud-warning div.adu-step span {
        position: absolute;
        width: 70px;
        height: 43px;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        *top: 27%;
        line-height: 20px; }
    #container .aud-common .aud-warning div.adu-bar {
      float: left;
      width: 114px;
      height: 29px;
      margin-left: -73px;
      margin-top: 13px;
      background: url("../images/aud-bar-hover.png") no-repeat; }
    #container .aud-common .aud-warning div.adu-bar-last {
      position: relative;
      width: 100px;
      left: 90px;
      margin-left: -63px; }
    #container .aud-common .aud-warning span.adu-next {
      display: inline-block;
      position: relative;
      width: 26px;
      height: 21px;
      left: 18px;
      top: 35px;
      background: url("../images/aud-next-hover.png"); }
    #container .aud-common .aud-warning div.adu-war-box {
      width: 118px;
      margin-left: 23px;
      float: left; }
    #container .aud-common .aud-warning div.adu-war-box-last {
      width: 79px; }
    #container .aud-common .aud-warning div.adu-war-box-first {
      margin-left: 0; }
    #container .aud-common .aud-warning:after {
      content: " ";
      display: block;
      clear: both; }

#container {
  margin-bottom: 40px;
  font-family: "Microsoft Yahei"; }
  #container .con-nav {
    margin: 40px 0 35px 0;
    color: #454545;
    font-size: 26px;
    font-weight: normal;
    color: #454545; }
  #container .con-hint {
    padding: 0 20px;
    width: 348px;
    margin: 15px auto;
    background: url("../images/cus_hint.png") no-repeat;
    font-size: 18px;
    font-weight: normal;
    color: #a6a6a6; }
  #container .next {
    width: 100px;
    margin: 0 auto; }
  #container .borrow-button {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 36px;
    border: none;
    top: 40px;
    margin-bottom: 20px;
    background-color: #2da9ac;
    line-height: 36px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #container .con-cuskind {
    position: relative;
    border: 1px solid #e8e8e8;
    background: #fff; }
    #container .con-cuskind h2 {
      font-size: 18px;
      font-weight: normal;
      color: #454545;
      margin-top: 36px;
      margin-left: 59px;
      padding-left: 28px; }
    #container .con-cuskind span {
      padding-left: 32px;
      font-size: 14px;
      font-weight: normal;
      color: #a6a6a6; }
    #container .con-cuskind ul {
      margin-top: 28px;
      margin-left: 95px; }
      #container .con-cuskind ul li {
        list-style: disc;
        list-style-position: inside;
        width: 177px;
        color: #2a888b; }
        #container .con-cuskind ul li .kind_list {
          font-size: 14px;
          font-weight: normal;
          color: #3a3a3a;
          line-height: 28px;
          margin-left: -37px;
          zoom: 1; }
    #container .con-cuskind a {
      position: absolute;
      bottom: 18px;
      left: 96px;
      font-size: 14px;
      font-weight: normal;
      color: #2e8a8d; }
  #container .cuskind {
    position: relative;
    width: 57px;
    border-right: 1px solid;
    height: 100%; }
    #container .cuskind p {
      font-size: 27px; }
    #container .cuskind img {
      position: absolute;
      left: 50%;
      margin-left: -15px;
      bottom: 23px; }
    #container .con-cuskind:hover .cuskind-color-0{
        background: #EBA352;
    }
#container .con-cuskind:hover .cuskind-color-1{
    background: #18e3b3;
}
#container .con-cuskind:hover .cuskind-color-2{
    background: #70f131;
}
  #container:after {
    content: " ";
    display: block;
    clear: both; }
  #container .cuskind-color-0 {
    background: #ed8411;
    border-color: #f3c189; }
  #container .cuskind-color-1 {
    background: #4fD8B7;
    border-color: #d7efe9; }
  #container .cuskind-color-2 {
    background: #84E95D;
    border-color: #c2f7ad; }
  #container .aud-nav {
    margin-top: 47px;
    margin-bottom: 32px; }
    #container .aud-nav a {
      font-size: 16px;
      font-weight: normal;
      color: #454545; }
    #container .aud-nav a:first-child {
      color: #848383; }
  #container #aud-check div.aud-checked div.adu-step {
    background-image: url("../images/aud-com.png"); }
  #container #aud-check div.aud-checked span.adu-next {
    background-image: url("../images/aud-next.png"); }
  #container #aud-check div.aud-checked div.adu-bar {
    background-image: url("../images/aud-bar.png"); }
  #container #aud-check div.aud-active div.adu-step {
    background-image: url("../images/aud-com.png"); }
  #container #aud-check div.aud-active div.adu-next {
    background-image: url("../images/aud-next-hover.png"); }
  #container #aud-check div.aud-active div.adu-bar {
    background-image: url("../images/aud-bar.png"); }
  #container #aud-detail {
    width: 989px;
    margin: 0px auto;
    height: 780px;
    border: 2px solid #eaeaea;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: white;
    text-align: center; }
    #container #aud-detail .adu-d-nav {
      padding-top: 54px;
      font-size: 24px;
      font-weight: normal;
      color: #2d8b8e;
      text-align: center; }
      #container #aud-detail .adu-d-nav span {
        display: block;
        margin-top: 5px;
        font-size: 14px;
        font-weight: normal;
        color: #2d8b8e; }
    #container #aud-detail ul {
      width: 876px;
      margin: 0 auto;
      margin-top: 78px;
      border-bottom: 1px solid #dfdfdf;
      font-size: 14px;
      font-weight: normal;
      color: gray; }
      #container #aud-detail ul li {
        float: left;
        margin-left: 81px;
        margin-bottom: 29px; }
        #container #aud-detail ul li span {
          font-size: 21px;
          font-weight: normal;
          color: #555555; }
      #container #aud-detail ul:after {
        content: " ";
        display: block;
        clear: both; }
    #container #aud-detail ul.adu-img-bar {
      border-top: 1px solid #eeeeee;
      margin-top: 0;
      padding-top: 78px; }
      #container #aud-detail ul.adu-img-bar li {
        width: 208px;
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        color: #40bdc1; }
        #container #aud-detail ul.adu-img-bar li p {
          margin: 21px 0; }
        #container #aud-detail ul.adu-img-bar li div {
          width: 44px;
          height: 41px;
          margin: 0 auto;
          background: url("../images/pass.png"); }
        #container #aud-detail ul.adu-img-bar li div.adu-no-pass {
          background: url("../images/no-pass.png") no-repeat; }
    #container #aud-detail .adu-img-waring {
      margin-top: 75px;
      margin-bottom: 36px; }
    #container #aud-detail p {
      font-size: 24px;
      font-weight: normal;
      color: #40bdc1; }
