@mixin fontSet($color,$size){
  font:{
    size: $size;
  }
  color: $color;
}
@mixin radius($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}
%normalFont{
  font: {
    weight: normal;
    family: "Microsoft Yahei";
  };
}
%spanCommon{
  vertical-align: 0;
  border: none;
  padding: 0;
}
@mixin transition-2 ($style,$start,$ani,$end,$style-1:"",$start-1:"",$ani-1:"",$end-1:"") {
  transition: $style $start $ani $end,$style-1 $start-1 $ani-1 $end-1;
}
@mixin transition-1 ($style,$start,$ani,$end) {
  transition: $style $start $ani $end;
}
#container{
  .aud-nav{
    margin-bottom: 20px;
    @extend %normalFont;
    a{
      @include fontSet(#454545,16px);
    }
    a:first-child{
      color: #848383;
    }
  }
  .aud-detail{
    width: 984px;
    height: 237px;
    margin: 0 auto;
    padding: 0 2px;
    background: #fff;
    overflow: hidden;
    .det-per-inf{
      height: 122px;
      background: url("../images/detail-bg.png") no-repeat;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);    
      img.det-img{
        position: relative;
        float: left;
        width: 100px;
        height: 100px;
        left: 63px;
        top: 8px;
        border: 3px solid white;
        border-radius: 50%;
      }
      p{
        position: relative;
        left: 90px;
        top: 28px;
        @include fontSet(white,14px);
        @extend %normalFont;
        span{
          @include fontSet(white,28px);
        }
        span.aud-det-name{
          margin-right: 5px;
        }
      }
      p.aud-st-serve{
        margin-top: 16px;
        left: 95px;
        img{
          margin-right: 9px;
        }
        span{
          border-left: 2px solid #d3c7c9;
          vertical-align: 5px;
          padding-left: 20px;
          padding-right: 23px;
          @include fontSet(white,16px);
          @extend %normalFont;
          span{
            @extend %spanCommon;
          }
          .det-rank{
            color: #98f74b;
          }
        }
      }
    }
    .aud-money{
      .mon-show{
        width: 840px;
        float: left;
        div{
          float: right;
          position: relative;
          margin-right: 2px;
          overflow: visible;
          top: -60px;
          left: 120px;
          a{
            display: inline-block;
            width: 68px;
            height: 40px;
            line-height: 40px;
            border: 2px solid;
            border-radius: 4px;
            background: #fff;
            outline: none;
            margin-right: 41px;
            text-align: center;
            @extend %normalFont;
            font-size: 24px;
            &:hover{
              cursor: pointer;
            }
          }
          #int{
            color: #3aee61;
          }
          #out{
            color: #2d9194;
          }
        }
        p{
          margin-left: 84px;
          margin-top: 21px;
          @extend %normalFont;
          span{
            @include fontSet(000,16px);
            padding-right: 183px;
          }
        }
        p.det-mon{
          span{
            padding-right: 80px;
            @include fontSet(#474747,30px);
          }
          span.mon-out{
            color: red;
            margin-left: -10px;
          }
        }
      }
    }
  }
  .aud-find{
    margin: 14px auto 30px;
    padding-bottom: 20px;
    overflow: hidden;
    background: #fff;
    ul#find-table-button{
        height: 59px;
      li{
        position: relative;
        z-index: 2;
        width: 20%;
        height: 59px;
        line-height: 59px;
        text-align: center;
        float: left;
        @include fontSet(white,24px);
        @include transition-1(backgorund,0.5s,ease,0s);
        .find-table-op{
          position: absolute;
          width: 100%;
          height: 100%;
          background: #000000;
          *left: 0;
          *top: 0;
          filter: alpha(opacity=30);
          opacity: 0.3;
          @include transition-1(opacity,1s,ease,0s);
          zoom: 1;
        }
        .find-table-op-hidden{
          height: 0;
        }
        &:hover .find-table-op{
          opacity: 0;
        }
      }
      li.find-table-0{
        background: #eea758;
      }
      li.find-table-1{
        background: #f4e690;
      }
      li.find-table-2{
        background: #a8f48b;
      }
      li.find-table-3{
        background: #9dd8ca;
      }
      li.find-table-4{
        background: #f9bdea;
      }
    }
    .find-table-box.fund{
      .tab-border-l{
        background: url("../images/fund-border-l.png") repeat-y;
      }
      .tab-border{
        background: url("../images/fund-border-top.png") repeat-x;
      }
      .table-content .tab-content-l p{
        color: #833202;
        span span{
          color: #833202;
        }
      }
      .table-content .tab-content-r p{
        margin-left: 75px;
        line-height: 40px;
        span{
          width: 280px;
        }
      }
    }
    .find-table-box{
      position: relative;
      width: 95%;
      height: 0;
      margin: 0 auto;
      background: #fff;
      opacity: 0;
      @include transition-2(opacity,1.5s,ease,0s,margin-top,1s,ease,0s);
      overflow: hidden;
      %tabCommon{
        position: absolute;
      }
      .tab-border{
        @extend  %tabCommon;
        width: 100%;
        height: 4px;
        background: url("../images/table-border.png") repeat-x;
      }
      .tab-border-l{
        @extend  %tabCommon;
        width: 4px;
        height: 100%;
        background: url("../images/tab-border-l.png") repeat-y;
      }
      .tab-top{
        top: 0;
      }
      .tab-bottom{
        bottom: 0;
      }
      .tab-left{
        left: 0;
      }
      .tab-right{
        right: 0;
      }
      .table-content{
        width: 99.3%;
        min-height: 100px;
        padding: 4px;
        .tab-content-l{
          float: left;
          width: 278px;
          margin-top: 24px;
          margin-bottom: 27px;
          position: relative;
          p{
            text-align: center;
            @include fontSet(#2d9194,30px);
            span{
              display: block;
              margin-top: 5px;
              @include fontSet(#ec9433,26px);
              span{
                display: inline;
                @include fontSet(#2d9194,18px);
              }
            }
          }
        }
        .tab-content-r{
          float: left;
          margin-top: 25px;
          color: #8d8d8d;
          p{
            margin-left: 35px;
            font-size: 20px;
            span{
              display: inline-block;
              width: 186px;
            }
          }
          p.aud-det-money{
            margin-top: 5px;
            span{
              display: inline-block;
              width: 186px;
              overflow: hidden;
            }
          }
          p.aud-det-prompt{
            font-size: 14px;
          }
        }
        &:after{
          content: " ";
          display: block;
          clear: both;
        }
      }
    }
    .find-table-box-show{
      min-height: 138px;
      margin-top: 30px;
      opacity: 1;
    }
    &:after{
      content: " ";
      display: block;
      clear: both;
    }
    ul#find-table-detail{
      position: relative;
      height: 35px;
      margin-top: 40px;
      padding: 0 25px;
      li{
        float: left;
        margin-right: 32px;
        border-bottom-width: 0px;
        border-bottom-color: #2d9194;
        border-bottom-style: solid;
        padding-bottom: 5px;
        @include fontSet(#858585,20px);
        @include transition-1(border-bottom-width,0.5s,ease,0s);
        &:hover{
          cursor: pointer;
          border-bottom-width: 4px;
        }
      }
      li.find-selected{
        @include fontSet(#585858,20px);
        border-bottom-width: 4px;
      }
    }
    .find-table-content.fund{
      padding-top: 10px;
    }
    div.find-table-content{
      position: relative;
      height: 0;
      display: none;
      @include fontSet(#585858,16px);
      @include transition-1(opacity,1s,ease,0s);
      ul{
        padding: 0 25px;
      }
      li{
        height: 48px;
        padding-top: 10px;
      }
      span{
        display: inline-block;
        position: relative;
        width: 120px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        overflow: hidden;
        img{
          position: absolute;
          width: 46px;
          height: 46px;
          left: 40px;
          border: 1px solid #e7f2f6;
        }
      }
      &:after{
        content: " ";
        display: block;
        clear: both;
      }
      .deadline{
        width:200px;
      }
      .repay{
        width:70px;
        img{
          left: 6px;
          width:30px;
          height: 30px;
          border: 0;
        }
        a{
          color: #2d9194;
        }
        a:visited{
          color: #2d9194;
        }
      }
    }
    div.find-table-content-show{
      height: 100%;
      display: block;
    }
  }
  &:after{
    content: " ";
    display: block;
    clear: both;
  }
}
//security
.sec-img{
  float: left;
  width: 197px;
  height: 50px;
  margin: 10px 0;
}
.ico-id{background:url("../images/security_ico.png") no-repeat 0px 0px;}
.ico-mail{background:url("../images/security_ico.png") no-repeat 0px -50px;}
.ico-nick{background:url("../images/security_ico.png") no-repeat 0px -100px;}
.ico-paywd{background:url("../images/security_ico.png") no-repeat 0px -150px;}
.ico-phone{background:url("../images/security_ico.png") no-repeat 0px -200px;}
.ico-pwd{background:url("../images/security_ico.png") no-repeat 0px -250px;}

#security-set{
  margin: 10px auto 0;
  width: 883px;
  h3{
    margin: 30px auto 10px;
    height: 20px;
    font-weight: normal;
  }
  li{
    padding: 0 24px 0 34px;
    border-bottom: 1px solid #e4e4e4;
    p{
      float: left;
    }
  }
  li:last-child{
    border-bottom: 0;
  }
}
.sec-val{
  width: 255px;
}
.sec-status{
  width: 235px;
}
.sec-update{
  float: right;
  a{
    color:#2d9194;
  }
  a:visited{
    color:#2d9194;
  }
}
.sec-fold{
  height: 70px;
  line-height: 70px;
}
.sec-unfold{
  display: none;
  padding: 10px 0;
  text-align: center;
  label{
    width: 70px;
    display: inline-block;
    text-align: right;
    color: #000;
  }
  .form-item{
    margin-bottom: 10px;
  }
}
input{
  border:1px solid #c7c7c7;
}
input:hover,
input:focus{
  border-color: #2d9194;
  outline: 0;
}
.form-button{
  border: 0;
  width: 100px;
  height: 30px;
  padding: 5px 10px;
  background-color: #2d9194;
  @include fontSet(#fff,18px);
  @include radius(5px);
  cursor: pointer;
}

//personal
.user-avatar{
  float: left;
  width: 97px;
  margin:20px 0 0 48px;
  text-align: center;
  color: #267b7e;
  img{
    width: 97px;
    height: 97px;
  }
}
.basic-info{
  padding: 10px 40px;
  form{
    float: right;
    width: 660px;
    margin: 0 40px 0 0;
    font-size: 20px;
  }
}
.personal-info{
  li{
    height: 40px;
    line-height: 40px;
    p{
      float: left;
    }
    .ico-status{
      float: right;
      font-size: 18px;
      padding-left: 30px;
      color: #267b7e;
    }
  }
}
.ico-status.pass{
  background: url("../images/personal_tick.png") no-repeat;
}
.personal-ico{
  float: left;
  width: 39px;
  height: 40px;
}
.personal-name{
  float: left;
  width: 100px;
  margin-right: 30px;
  text-align: right;
}
.tab-list{
  padding: 0 15px;
}
.personal-nick{background:url("../images/personal-ico.png") no-repeat 0px 0px;}
.personal-realname{background:url("../images/personal-ico.png") no-repeat 0px -40px;}
.personal-id{background:url("../images/personal-ico.png") no-repeat 0px -79px;}
.personal-phone{background:url("../images/personal-ico.png") no-repeat 0px -119px;}
.personal-mail{background:url("../images/personal-ico.png") no-repeat 0px -159px;}
.personal-sex{background:url("../images/personal-ico.png") no-repeat 0px -199px;}
.personal-birth{background:url("../images/personal-ico.png") no-repeat 0px -238px;}
.personal-address{background:url("../images/personal-ico.png") no-repeat 0px -278px;}
.personal-role{background:url("../images/personal-ico.png") no-repeat 0px -318px;}

#personal-modify{
  position: absolute;
  top: 25px;
  right: 90px;
  padding: 0;
  width:95px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.hidden{
  display: none;
}
.show{
  display: block;
}


//personal verify
.verify{
  padding-top: 10px;
  table{
    width: 100%;
    padding: 0 40px;
    border-spacing: 0;
    td{
      border-bottom: 1px solid #e4e4e4;
      height: 30px;
      line-height: 30px;
    }
  }
  .score{
    text-align: center;
  }
  .upload{
    position: absolute;
    right: 70px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }
  .upload-button{
    vertical-align: middle;
    cursor: pointer;
  }
}
.bankcard{
  padding: 40px 40px;
}
.bankcard-box{
  float: left;
  width: 266px;
  margin-right: 45px;
  border: 2px dashed #cbcbcb;
  color: #555;
  text-align: center;
  div{
    height: 65px;
    padding: 20px 33px;
  }
  .bankcard-op{
    height: 28px;
    line-height: 28px;
    border-top: 2px dashed #cbcbcb;
    color: #2d9194;
    text-align: center;
  }
}
.bankcard-box.add{
  div{
    height: 72px;
    padding: 17px 33px;
  }
}
.bankcard-box.last{
  margin-right: 0;
}

//fund
#container #fund-record-query{
  padding: 0 40px;
  span{
    display: inline-block;
    font-size: 14px;
    width: 80px;
    height: inherit;
    line-height: 1;
  }
  a.form-button{
    display: inline-block;
    margin-left: 10px;
    padding: 3px 10px;
    width:50px;
    height: 18px;
    font-size: 16px;
    text-align: center;
  }
}
#export-record{
  float: right;
  color:#2d9194;
}
.record-table{
  width:100%;
  padding: 20px 40px;
  text-align: center;
  td{
    height: 40px;
  }
}
.paymethod-bank{
  padding: 0 40px;
  h2{
    margin-bottom: 10px;
    color:#555;
    font-size: 20px;
    font-weight: normal;
  }
  label{
    display: inline-block;
    width: 130px;
    height: 33px;
    border: 1px solid #ddd;
  }
  li{
    float: left;
    margin: 0 45px 0 0;
    height: 33px;
    line-height: 33px;
    input{
      float: left;
      margin:10px 5px 0 0;
    }
  }
  .icbc{ background: url("../images/bank.jpg") no-repeat 0px -99px;}
  .abc{ background: url("../images/bank.jpg") no-repeat 0px 0px;}
  .cmb{ background: url("../images/bank.jpg") no-repeat 0px -33px;}
  .ccb{ background: url("../images/bank.jpg") no-repeat 0px -66px;}
  .boc{ background: url("../images/bank.jpg") no-repeat 0px -198px;}
  .post{ background: url("../images/bank.jpg") no-repeat 0px -231px;}
  .spdb{ background: url("../images/bank.jpg") no-repeat 0px -132px;}
  .cgb{ background: url("../images/bank.jpg") no-repeat 0px -165px;}
}
.pay-form{
  padding: 0 40px;
  h2{
    color:#555;
    font-size: 20px;
    font-weight: normal;
  }
  label{
    display: inline-block;
    width:100px;
    font-size: 14px;
    text-align: right;
  }
}
#container .aud-find div.find-table-content .pay-form span{
  display: inline;
}
#pay-num{
  width: 148px;
  height: 20px;
  padding: 4px 6px;
  @include radius(5px);
}
.randImage{
  width: 72px;
  height: 24px;
  border: 0;
}
.verifycode{
  width: 55px;
  height: 24px;
  @include radius(5px);
}