@import "common.scss";
// banner
#btnList{
  position: absolute;
  bottom:10px;
  right: 48%;
}
.btnClass{
  @extend %fr;
  width:16px;
  height:16px;
  margin-left:13px;
  text-indent: -9999px;
  background: url("../images/banBtn.png") no-repeat;
  color: #fff;
  cursor: pointer;
}
.btnClass:hover{
  background: url("../images/banBtn_on.png") no-repeat;
}
.btnClass.btnAct{
  background: url("../images/banBtn_on.png") no-repeat;
}
#banner li a{
  display: block;
  width: 100%;
  height: 100%;
}

//container
#container{
  @extend %w100;
  background: url("../images/bg.jpg") repeat;
}
.intro a{
  @extend %fl;
  margin:0 0 25px 20px;
  display: block;
  width:300px;
  color:#010101;
  span{
    display: block;
    padding: 5px 10px;
  }
}
.intro a:visited{
  color:#010101;
}
// .intro a:hover{
//   background: rgba(1,1,1,.1);
//   box-shadow: 0 -1px 1px rgba(0,0,0,0.3),inset 0 0 5px rgba(0,0,0,.3);
// }
.intro-pic{
  display: block;
  width:112px;
  height: 112px;
  margin: 0 auto;
}
@for $i from 1 to 4{
  .intro-pic-#{$i}{
    background: url("../images/intro-pic_#{$i}.png") no-repeat;
  }
}
.intro-title{
  @include font(24px);
}
.intro-text{
  @include font(14px);
  @include line_height(23px);
}
.announce{
  border-top:1px solid #dadadb;
  border-bottom:1px solid #dadadb;
  margin-bottom: 25px;
  padding:0 30px;
  @include font(16px,"宋体");
  @include line_height(40px);
  color: #050505;
  overflow: hidden;

  span{
    color:#fc7700;
  }
}
.title{
  margin-top:20px;
  padding:0 36px;
  @include font(20px);
  @include line_height(40px);
  color: #fff;
}
.news{
  .title{
    background-color:#eea758;
  }
  ul{
    @extend %fl;
  }
  li{
    @extend %fl;
    position: relative;
    width:930px;
    border-bottom:1px solid #dadadb;
    padding:0 40px 0 32px;
    line-height: 42px;
  }
  .news-liststyle{
    @extend %fl;
    margin:10px;
    width:20px;
    height: 20px;
    background:url("../images/news-list.png") no-repeat;
  }
  .news-list{
    @extend %fl;
    width:790px;
    font-size: 16px;
    a{
      float: left;
      margin-right:10px;
      color:#000000;
    }
    a:visited{
      color:#000000;
    }
  }
  .subText{
    font-size: 12px;
    color: #444;
    white-space: nowrap;
  }
  .news-time{
    @extend %fr;
  }
  .news-tips{
    position: absolute;
    float:right;
    right:5px;
    top:0;
    width:30px;
    height: 25px;
    background: url("../images/news-tips.png") no-repeat;
  }
  .text-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.loan{
  .title{
    background-color:#9dd8ca;
  }
  
  li{ 
    border-bottom:1px solid #dadadb;
    padding: 20px 0;
  }
  .list-head{    border-bottom:1px solid #dadadb;}
  .list-head span{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width:(100%/7.5);
    text-align: center; 
  }
}
.loan-list{
  div{
    display: inline-block;
    width:(100%/7.5);
    text-align: center; 
  }
  .loan-avatar{
    position:relative;
    img{
      border:1px solid #d5e6ed;
      width:80px;
      height:80px;
      vertical-align: middle;
    }
    span{
      position: absolute;
      top:60px;
      right:28px;
      width:20px;
      height:20px;
      background-color:#75c145;
      font-size:14px;
      color:#fff;
      line-height: 20px;
    }
  }
  .loan-title{
    overflow: hidden;
  }
  .loan-title a{
    width:100%;
    white-space: nowrap;
    color:#226e72;
  }
  .loan-rank div{
    display: inline-block;
    width:auto;
    height: 30px;
  }
  .loan-num{
    color:#fc7700;
  }
  .bar-out{
    position: relative;
    top: 5px;
    margin: 0 auto;
    width: 80px;
    height: 25px;
    border: 1px solid #226e72;
    @include radius(5px);
  }
  .bar-in{
    position: relative;
    margin: 2px;
    width: 76px;
    height: 21px;
    background-color:#226e72;
    @include radius(5px);
    span{
      width:100%;
      position: absolute;
      height: 21px;
      line-height: 21px;
      text-align: center;
      font-size: 12px;
      color:#fff;
    }
  }
  .bar-complete{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:0;
    left:0;
    background-color:#2e989e;
  }
  .bar-num{
    left:0;
  }
}

.platform{
  .title{
    background-color:#a8f48b;
  }
  #android{
    margin: 20px 45px;
  }
  #ios{
    margin: 20px 80px;
  }
  #wx{
    margin: 20px 30px;
  }
}