@charset "GBK";
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  border: none; }

body {
  background: #f2f2f2;
  font-family: "Microsoft Yahei"; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

#header, #he-login, #he-nav, #footer, #container {
  width: 100%; }

.wd1002 {
  width: 1002px;
  margin: 0 auto; }

.he-wl, .he-lo a, #fo-nav > li, #fo-nav > li > ul > li > a, #fo-contact p, #copyright {
  font-size: 12px;
  color: white; }

.he-wl, .he-lo, #he-nav ul, #fo-contact, #fo-contact p, .btnClass, .news .news-time {
  float: right; }

#he-nav ul li, #fo-nav, #fo-nav > li, #fo-nav > li > img, #fo-contact img, .intro a, .news ul, .news li, .news .news-liststyle, .news .news-list {
  float: left; }
.news .news-time {
  color: #a9a9a9;
}
#header {
  overflow: hidden; }

.wd989 {
  width: 989px;
  margin: 0 auto; }

#he-login {
  height: 25px;
  background: url("../images/h_bg.png"); }

.he-wl {
  margin-right: 9px;
  line-height: 25px; }

.he-lo a {
  margin-left: 10px; }

#he-nav {
  height: 82px;
  background: url("../images/nav_bg.png");
  overflow: hidden; }

#he-nav img {
  margin: 5px 0 0 9px;
  float: left; }

#he-nav ul li {
  margin-left: 40px;
  border-top-style: solid;
  border-top-width: 0;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 64px;
  -webkit-transition: border-top-width 0.5s ease 0s;
  -moz-transition: border-top-width 0.5s ease 0s;
  -ms-transition: border-top-width 0.5s ease 0s;
  transition: border-top-width 0.5s ease 0s; }

#he-nav ul {
  margin-top: 16px;
  overflow: hidden; }
  #he-nav ul li.where {
    border-top-width: 4px; }

#he-nav ul li:hover {
  border-top-width: 4px; }

#he-nav ul li a {
  color: #000000; }

.origin {
  border-color: #eea758; }

.yellow {
  border-color: #f4e690; }

.green {
  border-color: #a8f48b; }

.deepGreen {
  border-color: #9dd8ca; }

.pink {
  border-color: #f9bdea; }

.violet {
  border-color: #ddc4f7; }

#he-nav ul li.active {
  border-top-width: 4px; }

#footer {
  height: 150px;
  background: url("../images/f_bg.png"); }

#fo-nav {
  margin-top: 37px; }

#fo-nav > li {
  height: 110px;
  margin-right: 21px;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

#fo-nav > li > img {
  margin-right: 9px; }

#fo-nav > li > ul {
  margin-left: 8px;
  margin-top: 19px; }

#fo-nav > li > ul > li {
  line-height: 12px;
  padding-bottom: 10px;
  border-left: 2px solid white; }

#fo-nav > li > ul > li:last-child {
  padding-bottom: 0; }

#fo-nav > li > ul > li > a {
  padding-left: 12px;
  vertical-align: top; }

#fo-contact {
  width: 300px;
  margin-top: 37px; }
  #fo-contact p {
    position: relative;
    top: -10px;
    left: -18px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: normal; }
    #fo-contact p span {
      display: block;
      margin-left: -5px;
      font-size: 36px;
      font-family: "Microsoft Yahei";
      font-weight: normal; }
  #fo-contact .con-center {
    width: 290px;
    margin: 0 auto; }
    #fo-contact .con-center img {
      margin-top: 11px;
      margin-left: 5px; }

#copyright {
  clear: both;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

.w20 {
  width: 20px; }

.w30 {
  width: 30px; }


#btnList {
  position: absolute;
  bottom: 10px;
  right: 48%; }

.btnClass {
  width: 16px;
  height: 16px;
  margin-left: 13px;
  text-indent: -9999px;
  background: url("../images/banBtn.png") no-repeat;
  color: #fff;
  cursor: pointer; }

.btnClass:hover {
  background: url("../images/banBtn_on.png") no-repeat; }

.btnClass.btnAct {
  background: url("../images/banBtn_on.png") no-repeat; }

#banner li a {
  display: block;
  width: 100%;
  height: 100%; }

#container {
  background: url("../images/bg.jpg") repeat; }

.intro {
  padding: 20px 0;
}

.intro a {
  margin: 0 0 25px 20px;
  display: block;
  width: 300px;
  color: #8a8a8a; }

  .intro a span {
    display: block;
    padding: 5px 10px; }

.intro a:visited {
  color: #8a8a8a; }
.intro a:hover{
  color: #5fbfc2;
}
.intro-title {
  font-size: 24px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  color: #000; }

.intro-text {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 23px; }

.intro-pic {
  display: block;
  width: 112px;
  height: 112px;
  margin: 0 auto; }

.intro-pic-1 {
  background: url("../images/intro-pic_1.png") no-repeat; }

.intro-pic-2 {
  background: url("../images/intro-pic_2.png") no-repeat; }

.intro-pic-3 {
  background: url("../images/intro-pic_3.png") no-repeat; }

.announce {
  border-top: 1px solid #dadadb;
  border-bottom: 1px solid #dadadb;
  margin-bottom: 25px;
  padding: 0 30px;
  font-size: 16px;
  font-family: "宋体";
  font-weight: normal;
  line-height: 40px;
  color: #050505;
  overflow: hidden; }
  .announce span {
    color: #fc7700; }

.title {
  margin-top: 20px;
  padding: 0 36px;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 40px;
  color: #fff;
  background-color: #37b0b3; }
.title:after{
    content: " ";
    display: block;
    clear: both;
}
.title h1{
  float: left;
  font-size: 20px;
  font-weight: normal;
}
.title a{
    color: #ffffff;
    float: right;
}
.title a:hover{
    text-decoration: underline;
}
/*.news .title {
  background: #eea758; }*/
.news ul{
  border-left: 1px solid #dadadb;
  border-right: 1px solid #dadadb;
}
.news li {
  position: relative;
  width: 930px;
  border-bottom: 1px solid #dadadb;
  padding: 0 38px 0 32px;
  line-height: 42px; }
.news li:hover {
  background-color: #fff;
}
.news .news-liststyle {
  margin: 10px;
  width: 20px;
  height: 20px;
  background: url("../images/news-list.png") no-repeat; }
.news .news-list {
  width: 790px;
  font-size: 16px; }
  .news .news-list a {
    float: left;
    margin-right: 10px;
    color: #000000; }
.news .subText {
  font-size: 12px;
  color: #444;
  white-space: nowrap; }
.news .news-tips {
  position: absolute;
  float: right;
  right: 5px;
  top: 0;
  width: 30px;
  height: 25px;
  background: url("../images/news-tips.png") no-repeat; }
.news .text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/*.loan .title {
  background-color: #9dd8ca; }*/
.loan ul{
  border-left: 1px solid #dadadb;
  border-right: 1px solid #dadadb;}
.loan li {
  border-bottom: 1px solid #dadadb;
  padding: 20px 0; }
.loan .list-head {
  font-size: 0;
  border-left: 1px solid #dadadb;
  border-right: 1px solid #dadadb;
  border-bottom: 1px solid #dadadb; }
.loan .list-head span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 130px;
  font-size: 16px;
  text-align: center; }

.loan-list {
  font-size: 0;
  position: relative; }
  .loan-list:hover{
    background-color: #fff;
  }
  .loan-list .val{
    font-size: 18px;
  }
  .loan-list div {
    display: inline-block;
    width: 130px;
    text-align: center;
    font-size: 16px; }
  .loan-list .loan-avatar {
    position: relative; }
    .loan-list .loan-avatar img {
      border: 1px solid #d5e6ed;
      width: 80px;
      height: 80px;
      vertical-align: middle; }
    .loan-list .loan-avatar span {
      position: absolute;
      top: 60px;
      right: 28px;
      width: 20px;
      height: 20px;
      background-color: #75c145;
      font-size: 14px;
      color: #fff;
      line-height: 20px; }
  .loan-list .loan-title {
    overflow: hidden; }
  .loan-list .loan-title a {
    width: 100%;
    white-space: nowrap;
    color: black; }
     .loan-list .loan-title a:hover{
        color: #226e72;
        text-decoration: underline;
     }
  .loan-list .loan-rank div {
    display: inline-block;
    width: 30px;
    height: 30px; }
  .loan-list .loan-num {
    color: #555;
    font-size: 12px; }
  .loan-list .bar-out {
    position: relative;
    top: 5px;
    margin: 0 auto;
    width: 80px;
    height: 25px;
    border: 1px solid #226e72;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .loan-list .bar-in {
    position: relative;
    /*margin: 2px;
    width: 76px;
    /*height: 21px;*/
    width: 80px;
    height: 25px;
    background: #cbcbcd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .loan-list .bar-in span {
      width: 100%;
      position: absolute;
      /*height: 21px;
      line-height: 21px;*/
      height: 25px;
      line-height: 25px;
      text-align: center;
      font-size: 12px;
      color: #fff; }
  .loan-list .bar-complete {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 0;
    left: 0; }
  .loan-list .bar-num {
    left: 0; }
  .loan-list .lend-mask {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 1002px;
    height: 123px;
    background: url("../images/lend_hover.png") no-repeat; }
  .loan-list .invest{
    display: inline-block;
    margin-left: 30px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: none;
    background-color: #37b0b3;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .loan-list .invest:hover{
    background-color: #3ec4cb;
  }

/*.platform .title {
  background-color: #90d375; }*/
.platform #android {
  margin: 20px 45px; }
.platform #ios {
  margin: 20px 80px; }
.platform #wx {
  margin: 20px 30px; }
.news-list a:hover{
    color: #226e72;
}
.w0_49{
    background: #2e989e;
}
.w50_79{
    background: #eea758;
}
.w80_99{
    background: #efbc20;
}
.w100{
    background: #90d375;
}
.loan-list .bar-in .bar-num{
    color: #adadad;
    left: 80%;
}
.online_service {
  position: fixed;
  top: 50%;
  right: 0;
  width: 98px;
  height: 178px;
  background: url("../images/online_service.png");
}
.online_service:hover {
  background: url("../images/online_service_on.png");
}