* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  border: none; }

body {
  background: #f2f2f2;
  font-family: "Microsoft Yahei"; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

#header, #he-login, #he-nav, #footer {
  width: 100%; }

.wd1002 {
  width: 1002px;
  margin: 0 auto; }

.he-wl, .he-lo a, #fo-nav > li, #fo-nav > li > ul > li > a, #fo-contact p, #copyright {
  font-size: 12px;
  color: white; }

.he-wl, .he-lo, #he-nav ul, #fo-contact, #fo-contact p {
  float: right; }

#he-nav ul li, #fo-nav, #fo-nav > li, #fo-nav > li > img, #fo-contact img {
  float: left; }

#header {
  overflow: hidden; }

.wd989 {
  width: 989px;
  margin: 0 auto; }

#he-login {
  height: 25px;
  background: url("../images/h_bg.png"); }

.he-wl {
  margin-right: 9px;
  line-height: 25px; }

.he-lo a {
  margin-left: 10px; }

#he-nav {
  height: 82px;
  background: url("../images/nav_bg.png"); }

#he-nav img {
  margin: 5px 0 0 9px;
  float: left; }

#he-nav ul li {
  margin-left: 40px;
  border-top-style: solid;
  border-top-width: 0;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 64px;
  -webkit-transition: border-top-width 0.5s ease 0s;
  -moz-transition: border-top-width 0.5s ease 0s;
  -ms-transition: border-top-width 0.5s ease 0s;
  transition: border-top-width 0.5s ease 0s; }

#he-nav ul {
  margin-top: 16px;
  overflow: hidden; }
  #he-nav ul li.where {
    border-top-width: 4px; }

#he-nav ul li:hover {
  border-top-width: 4px; }

#he-nav ul li a {
  color: #000000; }

/*.origin {
  border-color: #eea758; }

.yellow {
  border-color: #f4e690; }

.green {
  border-color: #a8f48b; }

.deepGreen {
  border-color: #9dd8ca; }

.pink {
  border-color: #f9bdea; }

.violet {
  border-color: #ddc4f7; }*/

#he-nav ul li.active {
  border-top-width: 4px; }

#footer {
  height: 150px;
  background: url("../images/h_bg.png"); }

#fo-nav {
  margin-top: 37px; }

#fo-nav > li {
  height: 110px;
  margin-right: 21px;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

#fo-nav > li > img {
  margin-right: 9px; }

#fo-nav > li > ul {
  margin-left: 8px;
  margin-top: 19px; }

#fo-nav > li > ul > li {
  line-height: 12px;
  padding-bottom: 10px;
  border-left: 2px solid white; }

#fo-nav > li > ul > li:last-child {
  padding-bottom: 0; }

#fo-nav > li > ul > li > a {
  padding-left: 12px;
  vertical-align: top; }

#fo-contact {
  width: 300px;
  margin-top: 37px; }
  #fo-contact p {
    position: relative;
    top: -10px;
    left: -18px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: normal; }
    #fo-contact p span {
      display: block;
      margin-left: -5px;
      font-size: 36px;
      font-family: "Microsoft Yahei";
      font-weight: normal; }
  #fo-contact .con-center {
    width: 290px;
    margin: 0 auto; }
    #fo-contact .con-center img {
      margin-top: 11px;
      margin-left: 5px; }

#copyright {
  clear: both;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

.w20 {
  width: 20px; }

.w30 {
  width: 30px; }

.rankA,
.rankAA,
.rankAAA,
.rankHR {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  text-align: center;
  font-weight: bold; }

.rankA {
  background-color: #00ffcc; }

.rankAA {
  background-color: #09c93b; }

.rankAAA {
  background-color: #07ee58; }

.rankHR {
  background-color: #ff001e; }

.info-content .adu-d-nav, .info-content p, .info-content ul, .info-content ul.adu-img-bar li {
  font-weight: normal;
  font-family: "Microsoft Yahei"; }

body {
  background: url("../images/bg.jpg") repeat; }

#container {
  padding: 1px 0 20px 0; }

.breadcrumb {
  margin: 40px 0; }
  .breadcrumb li {
    display: inline-block; }
  .breadcrumb li:last-child {
    color: #454545; }

.breadcrumb-item a {
  color: #848383;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

.breadcrumb-item.active a {
  color: #454545; }

.loan-filter {
  padding: 20px 27px;
  border: 3px solid #90d375;
  color: #848383; }
  .loan-filter h4 {
    font-size: 23px;
    font-family: "Microsoft Yahei";
    font-weight: normal; }

.loan-filter.creditor {
  border-color: #9ed8ca; }

.guide {
  float: left;
  line-height: 1.6; }
  .guide h4 {
    margin-bottom: 10px; }
  .guide p {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: normal; }

.filter {
  float: left;
  width: 640px;
  height: 140px; }
  .filter li {
    line-height: 1.8;
    margin-bottom: 5px; }
  .filter h4 {
    float: left;
    color: #454545; }
  .filter .filter-header {
    margin-bottom: 10px; }
  .filter .filter-item {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .filter .filter-item input {
      display: none; }
    .filter .active span{
      color: white;
    }
  .filter .filter-choice.active {
    background-color: #90d375; }
  .filter .filter-choice:hover {
    background-color: #90d375;
    cursor: pointer; }
  .filter .filter-choice.creditor.active {
    background-color: #9ed8ca; }
  .filter .filter-choice.creditor:hover {
    background-color: #9ed8ca;
    cursor: pointer; }

#filter-switch {
  display: block;
  float: left;
  width: 32px;
  height: 20px;
  line-height: 20px;
  margin: 5px 0 0 15px;
  padding: 0 10px;
  background-color: #dcdddf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer; }

#filter-switch:hover {
  background-color: #a8f48b; }

#filter-switch.active {
  background-color: #a8f48b; }

.title {
  margin-top: 20px;
  padding: 0 36px;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 40px;
  color: #fff; }

.loan .title {
  background-color: #90d375; }
.loan .title.creditor {
  background-color: #9ed8ca; }
.loan li {
  border-bottom: 1px solid #dadadb;
  padding: 20px 0; }
.loan .list-head {
  font-size: 0;
  border-bottom: 1px solid #dadadb; }
.loan .list-head span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 140px;
  font-size: 16px;
  text-align: center; }

.loan-list {
  font-size: 0;
  position: relative; }
  .loan-list div {
    display: inline-block;
    width: 141px;
    text-align: center;
    font-size: 16px; }
  .loan-list .loan-avatar {
    position: relative; }
    .loan-list .loan-avatar img {
      border: 1px solid #d5e6ed;
      width: 80px;
      height: 80px;
      vertical-align: middle; }
    .loan-list .loan-avatar span {
      position: absolute;
      top: 60px;
      right: 28px;
      width: 20px;
      height: 20px;
      background-color: #75c145;
      font-size: 14px;
      color: #fff;
      line-height: 20px; }
  .loan-list .loan-title {
    overflow: hidden; }
  .loan-list .loan-title a {
    width: 100%;
    white-space: nowrap;
    color: black; }
     .loan-list .loan-title a:hover{
        color: #226e72;
        text-decoration: underline;
     }
  .loan-list .loan-rank div {
    display: inline-block;
    width: 30px;
    height: 30px; }
  .loan-list .loan-num {
    color: #555; }
  .loan-list .bar-out {
    position: relative;
    top: 5px;
    margin: 0 auto;
    width: 80px;
    height: 25px;
    border: 1px solid #226e72;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .loan-list .bar-in {
    position: relative;
    margin: 2px;
    width: 76px;
    height: 21px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .loan-list .bar-in span {
      width: 100%;
      position: absolute;
      height: 21px;
      line-height: 21px;
      text-align: center;
      font-size: 12px;
      color: #fff; }
  .loan-list .bar-complete {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 0;
    left: 0; }
  .loan-list .bar-num {
    left: 0; }
  .loan-list .lend-mask {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 1002px;
    height: 123px;
    background: url("../images/lend_hover.png") no-repeat; }

#viewMore {
  text-align: center;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #dadadb;
  cursor: pointer; }
  #viewMore span {
    position: relative;
    bottom: 15px;
    color: #618e91;
    cursor: pointer; }

.list-head,
.loan ul,
#viewMore {
  border-left: 1px solid #dadadb;
  border-right: 1px solid #dadadb; }

#borrow-info {
  position: relative;
  margin-top: 60px;
  padding: 0 36px;
  height: 110px;
  border-bottom: 3px solid #298689;
  background-color: #d6f2f3; }

#borrow-avatar {
  position: absolute;
  top: -40px;
  width: 110px;
  height: 110px;
  background-color: #d6f2f3; }
  #borrow-avatar img {
    border: 2px solid #fff;
    width: 108px;
    height: 108px;
    vertical-align: middle; }
  #borrow-avatar span {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 30px;
    height: 30px;
    background-color: #75c145;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-align: center; }

#borrow-brief,
#borrow-details {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  width: 530px;
  color: #298689;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

#borrow-details {
  display: none; }

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

#borrow-num {
  position: absolute;
  right: 36px;
  bottom: 5px;
  font-size: 24px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  color: #a1a9aa; }
  #borrow-num span {
    font-size: 50px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    color: #ff6600; }

#view-detail {
  width: 110px;
  height: 19px;
  margin: 0 auto;
  background: url("../images/viewDetail.png");
  cursor: pointer; }

.paycenter {
  margin: 16px 0;
  padding: 26px 95px;
  border: 2px solid #ddd;
  background: #fff; }
  .paycenter p {
    font-size: 12px;
    margin: 20px 0 0 90px;
    padding: 10px 25px; }
  .paycenter .check-security {
    background: url("../images/check_security.png") no-repeat 3px 10px; }
  .paycenter .paycenter-alert {
    width: 240px;
    border: 1px solid #5ecacd;
    background: #d5f3f4 url("../images/alert.png") no-repeat 3px 10px; }
  .paycenter .paycenter-hint {
    display: none;
    margin: 3px 0 0 90px;
    padding: 0 0 0 20px;
    color: #848383;
    background: url("../images/verifycode_ico.png") no-repeat; }
    .paycenter .paycenter-hint a {
      color: #298689;
      text-decoration: underline; }
  .paycenter .paycenter-hint.question {
    margin-left: 10px;
    background: url("../images/question.png") no-repeat; }
  .paycenter .paycenter-tips {
    margin-left: 10px;
    font-size: 12px;
    color: #2d9194; }
  .paycenter .paycenter-button {
    width: 100px;
    height: 36px;
    border: none;
    background-color: #2da9ac;
    line-height: 36px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.paycenter-item {
  margin-bottom: 26px; }
  .paycenter-item label {
    display: inline-block;
    width: 85px;
    text-align: right; }
  .paycenter-item img {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd; }
  .paycenter-item div {
    display: inline-block; }
    .paycenter-item div span {
      color: #ff6600; }
  .paycenter-item input {
    border: 1px solid #c9c9c9;
    height: 20px; }

.paycenter-item input:hover,
.paycenter-item input:focus {
  border-color: #2d9194;
  outline: 0; }

.paymethod {
  padding: 15px 36px 45px 36px; }
  .paymethod .paymethod-manage {
    float: right; }
    .paymethod .paymethod-manage a {
      color: #000;
      font-size: 12px;
      font-family: "Microsoft Yahei";
      font-weight: normal; }

.paymethod-item .paycenter-hint {
  display: block; }
.paymethod-item span {
  font-size: 12px;
  margin-left: 20px; }

.paymethod-item.userinfo {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd; }

.paymethod-item.method {
  padding: 26px 0 26px 35px;
  border-bottom: 1px solid #ddd; }

.paymethod-title {
  margin: 30px 0 45px 0; }

#pay-verify {
  width: 90px; }

#paycenter-pay {
  margin-left: 90px; }

#paycenter-next {
  margin-left: 60px; }

#helpcenter {
  padding: 0 38px; }
  #helpcenter p {
    width: 595px;
    font-size: 12px; }
  #helpcenter .help-title {
    font-weight: bold; }
  #helpcenter .help-answer {
    margin-bottom: 20px; }
  #helpcenter a {
    margin-right: 20px;
    font-size: 12px;
    color: #2d9194; }
  #helpcenter a:visited {
    color: #2d9194; }

.paymethod-bank label {
  display: inline-block;
  width: 130px;
  height: 33px;
  border: 1px solid #ddd; }
.paymethod-bank li {
  float: left;
  margin: 0 0 25px 45px;
  height: 33px;
  line-height: 33px; }
  .paymethod-bank li input {
    float: left;
    margin: 10px 5px 0 0; }
.paymethod-bank .icbc {
  background: url("../images/bank.jpg") no-repeat 0px -99px; }
.paymethod-bank .abc {
  background: url("../images/bank.jpg") no-repeat 0px 0px; }
.paymethod-bank .cmb {
  background: url("../images/bank.jpg") no-repeat 0px -33px; }
.paymethod-bank .ccb {
  background: url("../images/bank.jpg") no-repeat 0px -66px; }
.paymethod-bank .boc {
  background: url("../images/bank.jpg") no-repeat 0px -198px; }
.paymethod-bank .post {
  background: url("../images/bank.jpg") no-repeat 0px -231px; }
.paymethod-bank .spdb {
  background: url("../images/bank.jpg") no-repeat 0px -132px; }
.paymethod-bank .cgb {
  background: url("../images/bank.jpg") no-repeat 0px -165px; }

#lend-details {
  background: #fff;
  padding: 10px 30px 40px; }

.details-head {
  position: relative;
  height: 16px;
  border-bottom: 2px dashed #c7c7c7;
  margin-bottom: 40px;
  font-size: 14px; }
  .details-head div {
    position: absolute;
    background: #fff; }
    .details-head div a {
      display: block;
      padding: 5px 8px;
      border: 1px solid #979797;
      color: #979797;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .details-head div a:visited {
      color: #979797; }
  .details-head .return {
    left: 0;
    padding-right: 20px; }
  .details-head .balance {
    right: 0;
    padding-left: 20px; }
    .details-head .balance span {
      color: #787878; }
  .details-head .name {
    margin-left: 380px;
    padding: 6px 20px;
    font-size: 16px;
    color: #787878; }

.details-info,
.details-lend {
  float: left;
  height: 380px;
  border: 1px solid #c7c7c7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .details-info .info-title,
  .details-lend .info-title {
    padding: 10px 13px;
    background: #f0f5f7;
    border-bottom: 1px solid #c7c7c7;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

.info-subtitle {
  float: right;
  margin-top: 5px;
  font-size: 12px;
  color: #c7c7c7; }

.details-info {
  width: 628px; }

.details-lend {
  width: 290px;
  margin-left: 20px; }

.info-content {
  padding: 50px 50px 42px; }
  .info-content div {
    float: left; }
  .info-content p {
    overflow: hidden;
    font-size: 12px; }
  .info-content .info-content-val {
    line-height: 70px;
    font-size: 36px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    color: #69737b;
    font-weight: bold; }
    .info-content .info-content-val span {
      font-size: 16px;
      font-weight: normal; }
  .info-content .info-content-rank {
    margin-top: 20px; }
  .info-content .info-content-l {
    width: 275px;
    height: 94px; }
  .info-content .info-content-l.small {
    width: 122px; }
  .info-content .info-content-r {
    width: 235px;
    height: 94px; }

.info-content-term {
  position: relative;
  margin-left: 42px;
  padding-left: 10px;
  height: 70px;
  border-left: 2px solid #69737b; }
  .info-content-term .term-start,
  .info-content-term .term-end {
    position: absolute;
    width: 230px;
    left: -12px;
    line-height: 1; }
    .info-content-term .term-start p,
    .info-content-term .term-end p {
      padding-left: 10px; }
  .info-content-term .term-start {
    top: 0; }
  .info-content-term .term-end {
    bottom: 0; }
  .info-content-term .term-ico {
    background: #fff;
    padding: 2px;
    border: 1px solid #69737b;
    line-height: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .info-content-term p {
    font-size: 22px; }

.info-progress {
  height: 57px;
  line-height: 57px; }
  .info-progress .loan-progress {
    float: left;
    width: 223px;
    height: 57px;
    padding: 0 45px;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7; }
    .info-progress .loan-progress span {
      font-size: 12px; }
    .info-progress .loan-progress .tick {
      font-weight: 900;
      margin-right: 5px; }
    .info-progress .loan-progress .bar-out {
      position: relative;
      top: 5px;
      margin: 0 auto;
      width: 80px;
      height: 25px;
      border: 1px solid #226e72;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .info-progress .loan-progress .bar-in {
      float: left;
      position: relative;
      margin: 24px 10px;
      width: 116px;
      height: 12px;
      background-color: #e4e4e4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .info-progress .loan-progress .bar-in span {
        width: 100%;
        position: absolute;
        height: 12px;
        line-height: 21px;
        text-align: center;
        font-size: 12px;
        color: #fff; }
    .info-progress .loan-progress .bar-complete {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 0;
      left: 0;
      background-color: #69737b; }
    .info-progress .loan-progress .bar-num {
      left: 0; }
  .info-progress .loan-progress:last-child {
    border-right: 0; }

#lend-form,
#creditor-form {
  position: relative;
  padding: 30px 10px 0 28px;
  font-size: 14px;
  line-height: 45px;
  text-align: center; }
  #lend-form p,
  #creditor-form p {
    line-height: 25px; }
    #lend-form p span,
    #creditor-form p span {
      color: #fc8936; }
  #lend-form label.error,
  #creditor-form label.error {
    color: red;
    display: inline;
    position: absolute;
    top: 65px;
    left: 40px; }
  #lend-form .placeholder,
  #creditor-form .placeholder {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #ccc; }

#creditor-form p {
  line-height: 35px; }

#lend-num {
  width: 220px;
  height: 20px;
  margin-bottom: 25px;
  padding: 10px 5px;
  line-height: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.details-lend input {
  border: 1px solid #b4b9bd; }

.details-lend input:hover,
.details-lend input:focus {
  border-color: #2d9194;
  outline: 0; }

#verifycode {
  width: 45px;
  height: 23px;
  padding: 0 5px;
  vertical-align: middle; }

#randImage {
  width: 75px;
  height: 25px;
  border: 0;
  vertical-align: middle; }

#lend-confirm,
#creditor-confirm {
  width: 140px;
  height: 35px;
  border: none;
  background-color: #2da9ac;
  line-height: 36px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#creditor-confirm {
  margin-top: 10px; }

.lend-verify {
  margin-top: 25px; }

.fakeCheck {
  position: relative;
  float: left;
  top: 15px;
  left: 30px;
  width: 13px;
  height: 13px;
  border: 1px solid #c9c9c9; }
  .fakeCheck span {
    position: absolute;
    left: 0;
    top: -4px;
    width: 15px;
    height: 15px;
    background: url("../images/tick.png") no-repeat; }

#protocal {
  display: none; }

#protocal-label a {
  color: #25797c; }
#protocal-label a:visited {
  color: #25797c; }

.details-tab {
  float: left;
  margin: 30px 0 18px 0; }
  .details-tab li {
    float: left;
    margin-right: 25px;
    width: 142px;
    height: 45px;
    border: 1px solid #fff;
    line-height: 45px;
    text-align: center;
    cursor: pointer; }
  .details-tab li:hover,
  .details-tab .tab-on {
    border-color: #d0d5d9;
    color: #25797c; }

.tab-body {
  float: left;
  width: 100%; }
  .tab-body .tab-content {
    display: none; }
  .tab-body .tab-show {
    display: block; }

.borrower-content ul {
  border: 1px solid #c7c7c7;
  border-bottom: 0; }
.borrower-content span {
  display: inline-block;
  vertical-align: middle;
  color: #475058; }
.borrower-content li {
  border-bottom: 1px solid #c7c7c7; }
.borrower-content .borrower-name {
  width: 155px;
  border-right: 1px solid #c7c7c7;
  background-color: #f0f5f7;
  padding: 14px 20px;
  text-align: right;
  overflow: hidden; }
.borrower-content .borrower-val {
  width: 678px;
  padding: 0 30px;
  overflow: hidden; }
  .borrower-content .borrower-val img {
    margin-left: 10px; }
.borrower-content .borrower-val.separation {
  text-align: center; }

.record-content table {
  width: 750px;
  margin: 0 auto;
  font-size: 12px; }
.record-content thead th {
  border-bottom: 1px solid #c7c7c7;
  padding: 7px 0; }
.record-content tbody {
  text-align: center; }
  .record-content tbody td {
    padding: 10px; }

.tb-col-buyer {
  width: 20%; }

.tb-col-title {
  width: 25%; }

.tb-col-num {
  width: 15%; }

.tb-col-time {
  width: 30%; }

.tb-col-status {
  width: 10%; }

.info-content .adu-d-nav {
  padding-top: 54px;
  font-size: 24px;
  color: #2d8b8e;
  text-align: center; }
  .info-content .adu-d-nav span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #2d8b8e; }
.info-content p {
  font-size: 18px;
  color: #40bdc1; }
.info-content ul {
  margin: 0 auto;
  margin-top: 78px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
  color: gray; }
  .info-content ul li {
    float: left;
    margin-left: 70px;
    margin-bottom: 29px; }
    .info-content ul li span {
      font-size: 21px;
      color: #555555; }
  .info-content ul:after {
    content: " ";
    display: block;
    clear: both; }
.info-content ul.adu-img-bar {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
  padding-top: 78px; }
  .info-content ul.adu-img-bar li {
    width: 130px;
    text-align: center;
    font-size: 24px;
    color: #40bdc1; }
    .info-content ul.adu-img-bar li p {
      margin: 21px 0; }
    .info-content ul.adu-img-bar li div {
      width: 44px;
      height: 41px;
      margin: 0 auto;
      background: url("../images/pass.png"); }
    .info-content ul.adu-img-bar li img {
      height: 65px; }
    .info-content ul.adu-img-bar li div.adu-no-pass {
      background: url("../images/no-pass.png") no-repeat; }
.info-content .adu-intro {
  color: #808080;
  padding: 60px; }
  .info-content .adu-intro h3 {
    text-align: center; }
  .info-content .adu-intro p {
    color: #808080;
    margin-top: 20px;
    text-align: left; }

.w0_49{
    background: #2e989e;
}
.w50_79{
    background: #eea758;
}
.w80_99{
    background: #efbc20;
}
.w100{
    background: #90d375;
}
.loan-list .bar-in .bar-num{
    color: #adadad;
    left: 80%;
}