* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

li {
  list-style: none; }

img {
  border: none; }

body {
  background: #f2f2f2;
  font-family: "Microsoft Yahei"; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

#header, #he-login, #he-nav, #footer, #container {
  width: 100%; }

.wd1002 {
  width: 1002px;
  margin: 0 auto; }

.he-wl, .he-lo a, #fo-nav > li, #fo-nav > li > ul > li > a, #fo-contact p, #copyright {
  font-size: 12px;
  color: white; }

.he-wl, .he-lo, #he-nav ul, #fo-contact, #fo-contact p {
  float: right; }

#he-nav ul li, #fo-nav, #fo-nav > li, #fo-nav > li > img, #fo-contact img, .guide, #loginBox, .login-tab li {
  float: left; }

#header {
  overflow: hidden; }

#he-login {
  height: 25px;
  background: url("../images/h_bg.png"); }

.he-wl {
  margin-right: 9px;
  line-height: 25px; }

.he-lo a {
  margin-left: 34px; }

#he-nav {
  height: 82px;
  background: url("../images/nav_bg.png"); }

#he-nav img {
  margin: 5px 0 0 9px;
  float: left; }

#he-nav ul li {
  margin-left: 40px;
  border-top-style: solid;
  border-top-width: 0;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 64px;
  -webkit-transition: border-top-width 0.5s ease 0s;
  -moz-transition: border-top-width 0.5s ease 0s;
  -ms-transition: border-top-width 0.5s ease 0s;
  transition: border-top-width 0.5s ease 0s; }

#he-nav ul {
  margin-top: 16px;
  overflow: hidden; }
  #he-nav ul li.where {
    border-top-width: 4px; }

#he-nav ul li:hover {
  border-top-width: 4px; }

#he-nav ul li a {
  color: #000000; }

.origin {
  border-color: #eea758; }

.yellow {
  border-color: #f4e690; }

.green {
  border-color: #a8f48b; }

.deepGreen {
  border-color: #9dd8ca; }

.pink {
  border-color: #f9bdea; }

.violet {
  border-color: #ddc4f7; }

#footer {
  height: 303px;
  background: url("../images/h_bg.png"); }

#fo-nav {
  margin-top: 37px; }

#fo-nav > li {
  height: 110px;
  margin-right: 21px;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

#fo-nav > li > img {
  margin-right: 9px; }

#fo-nav > li > ul {
  margin-left: 8px;
  margin-top: 19px; }

#fo-nav > li > ul > li {
  line-height: 12px;
  padding-bottom: 10px;
  border-left: 2px solid white; }

#fo-nav > li > ul > li:last-child {
  padding-bottom: 0; }

#fo-nav > li > ul > li > a {
  padding-left: 12px;
  vertical-align: top; }

#fo-contact {
  width: 300px;
  margin-top: 37px; }
  #fo-contact p {
    position: relative;
    top: -10px;
    left: -18px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    font-weight: normal; }
    #fo-contact p span {
      display: block;
      margin-left: -5px;
      font-size: 36px;
      font-family: "Microsoft Yahei";
      font-weight: normal; }
  #fo-contact .con-center {
    width: 290px;
    margin: 0 auto; }
    #fo-contact .con-center img {
      margin-top: 11px;
      margin-left: 5px; }

#copyright {
  clear: both;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal; }

.w20 {
  width: 20px; }

.w30 {
  width: 30px; }

.rankA,
.rankB,
.rankC,
.rankHR {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  font-weight: bold; }

.rankA {
  background-color: #00ffcc; }

.rankB {
  background-color: #09c93b; }

.rankC {
  background-color: #07ee58; }

.rankHR {
  background-color: #ff001e; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  background: url("../images/bg.jpg") repeat; }

.footer, .push {
  height: 4em; }

#footer {
  height: 70px; }
  #footer #copyright {
    padding: 0;
    line-height: 30px; }

#container {
  height: auto;
  padding: 80px 0 100px 0; }

.form-input.error {
  border-color: #2d9194; }

.form-item label.error {
  color: #2d9194;
  font-size: 12px; }

#signup .form-item label.error {
  margin-left: 80px;
  width: auto;
  color: #2d9194;
  font-size: 12px; }

.guide {
  margin: 0 20px; }

#loginBox {
  margin-left: 45px;
  background-color: #fff; }

.login-tab li {
  width: 217px;
  height: 48px;
  border: 1px solid #c9c9c9;
  background-color: #f4f4f4;
  font-size: 20px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  color: #cdcccc;
  cursor: pointer; }
.login-tab #tab-login {
  border-right: none; }
.login-tab .tab-on {
  background-color: #fff;
  color: #555555; }

.tab-body {
  width: 435px;
  height: auto;
  border: 1px solid #c9c9c9;
  padding: 25px 0 20px 0;
  border-top: none; }

.tab-content {
  display: none; }

.tab-show {
  display: block; }

.form-item {
  position: relative;
  margin-bottom: 20px;
  color: #c9c9c9; }
  .form-item span {
    position: absolute;
    left: 2px;
    top: 4px;
    display: block;
    width: 33px;
    height: 26px; }
  .form-item label {
    color: #8c8c8c;
    font-size: 14px; }
  .form-item p {
    position: absolute;
    top: 8px;
    left: 30px;
    width: 255px;
    font-size: 14px; }

.form-input {
  width: 255px;
  height: 22px;
  border: 1px solid #c9c9c9;
  padding: 4px 5px 4px 35px;
  line-height: 22px;
  font-size: 14px; }

#login {
  margin: 0 65px 0 70px; }

#signup {
  margin: 0 50px 0 50px; }
  #signup .form-input {
    width: 196px; }
  #signup .form-item label {
    width: 70px;
    display: inline-block;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    text-align: right;
    color: #000; }
  #signup span {
    left: 80px; }
  #signup #protocal-label {
    display: block;
    float: right;
    width: 250px;
    font-size: 12px; }
  #signup .fakeCheck {
    float: right;
    right: 240px; }
    #signup .fakeCheck span {
      left: 0; }

.form-input:hover,
.form-input:focus {
  border-color: #2d9194;
  outline: 0; }

.user-ico {
  background: url("../images/user_ico.png"); }

.pw-ico {
  background: url("../images/pw_ico.png"); }

.phone-ico {
  background: url("../images/phone_ico.png"); }

.confirm-ico {
  background: url("../images/confirm_ico.png"); }

#keepSignIn,
#protocal {
  display: none; }

.fakeCheck {
  position: relative;
  float: left;
  margin: 2px 5px 0 0;
  width: 13px;
  height: 13px;
  border: 1px solid #c9c9c9; }
  .fakeCheck span {
    position: absolute;
    left: 0;
    top: -4px;
    width: 15px;
    height: 15px;
    background: url("../images/tick.png") no-repeat; }

#protocal-label a,
#findPw {
  float: right;
  color: #2d9194;
  font-size: 12px; }

#protocal-label a,
#findPw:visited {
  color: #2d9194; }

#loginBtn,
#signupBtn {
  border: 0;
  width: 100%;
  height: 30px;
  background-color: #2d9194;
  font-size: 18px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer; }
